@page "/users"
@attribute [Authorize]

<PageTitle>Пользователи</PageTitle>

<h3>Список пользователей</h3>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Блокировка</th>
            <th>Особые требования пароля</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.IsBlocked</td>
                <td>@user.HasPasswordRequirements</td>
                <td>@user.Role</td>
                <td>
                    <button @onclick="(e => SetBlockingValue(user.Username, !user.IsBlocked))">
                        @(user.IsBlocked ? "Разблокировать" : "Заблокировать")
                    </button>
                </td>
                <td>
                    <button @onclick="(e => SetPasswordRequirements(user.Username, !user.HasPasswordRequirements))">
                        @(user.HasPasswordRequirements ? "Убрать особые требования пароля" : "Установить особые требования пароля")
                    </button>
                </td>
                <td>
                    @if (user.Username != "Admin")
                    {
                        <button @onclick="(e => DeleteUser(user.Username))">
                            Удалить пользователя
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<AddingNewUser />

@if (!(AdminResponse?.IsSuccess ?? true))
{
    <div>
        <p>
            @AdminResponse.Message
        </p>
    </div>
}